[submodule "docs/research/fastflowlm/FastFlowLM"]
	path = docs/research/fastflowlm/FastFlowLM
	url = git@github.com:FastFlowLM/FastFlowLM.git
[submodule "docs/research/fastflowlm/mlir-aie"]
	path = docs/research/fastflowlm/mlir-aie
	url = git@github.com:Xilinx/mlir-aie.git
[submodule "data/b3d"]
	path = data/b3d
	url = git@github.com:b3d-project/b3d.git
